.invoice-header {
  font-size: 0.8em;

  .go-back {
    background: transparent;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    svg {
      margin-right: 1em;
      color: #7c5dfa;
    }
  }
  &__top {
    padding: 0 1em;
    .download {
      font-size: 1.7em;
      cursor: pointer;
    }
  }
  &__bottom {
    margin-top: 2em;
    height: 7.5em;
    padding: 0 1em;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    &--left {
      span {
        margin-right: 1em;
        color: #a8adc5;
      }
    }
  }
}
