.invoice-header {
  font-size: 0.8em;
  animation: fadeInInvoice 0.3s forwards;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .go-back {
    color: #000;
    background: transparent;
    padding: 0;
    &:hover {
      opacity: 0.6;
    }
    svg {
      margin-right: 1em;
      color: #7c5dfa;
    }
  }
  &__top {
    padding: 0 1em;
    .download {
      font-size: 1.7em;
      cursor: pointer;
    }
  }
  &__bottom {
    margin-top: 2em;
    height: 7.5em;
    padding: 0 1em;
    width: 100%;
    background: #fff;
    border-radius: 10px;

    &--left {
      @media screen and (max-width: 768px) {
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
      }
      span {
        margin-right: 1em;
        color: #a8adc5;
      }
    }
  }
}
