.invoice-card {
  width: 100%;
  margin-top: 1.5em;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  animation: fadeInInvoice 0.3s forwards;

  header {
    address {
      text-align: right;
    }
  }
  span {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  address {
    width: 9em;
  }
  small,
  address {
    color: #a6abc4;
    font-size: 0.8em;
    margin-top: 0.5em;
    font-style: normal;
  }
  main {
    margin: 2em 0;
    height: auto;
    width: 100%;
  }
}
