.invoice-header {
  &__bottom {
    &--right {
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 1em 0;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
      }
      button {
        margin-left: 1em;

        &.btn-edit {
          background-color: #f9fafe;
          color: black;
          &:hover {
            background-color: #dfe3fa;
          }
        }
        &.btn-delete {
          background-color: #ec5757;
          &:hover {
            opacity: 0.8;
          }
        }
        &.btn-mark {
          background-color: #9278ff;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
