.layout {
  background-color: #f8f8fb;

  main {
    flex: 11;
    section {
      &.home-view {
        width: 60%;
        margin: auto;
        margin-top: 5em;
      }
      &.invoice-view {
        width: 55%;
        margin: auto;
        margin-top: 5em;
      }
    }
  }
}
