.sidebar {
  height: 100vh;
  flex: 1;
  background-color: #373b53;
  main {
    height: 100%;
    .logo {
      background-color: #7c5dfa;
      padding: 1em 0;
      border-radius: 0 0 2em 0;
      svg {
        display: block;
        margin: auto;
        color: #fff;
        font-size: 3em;
      }
    }
    button {
      border: none;
      padding: 1em 0.25rem;
      background: transparent;
      cursor: pointer;
      outline: none;
      svg {
        color: #fff;
      }
    }
  }
  footer {
    padding: 1.1em 0;
    border-top: 1px solid gray;
    svg {
      display: block;
      font-size: 2em;
      margin: auto;
      color: #fff;
    }
  }
}
