.sidebar {
  position: sticky;
  top: 0;
  z-index: 20;
  height: 100vh;
  flex: 1;
  background-color: #373b53;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  .logo {
    position: relative;
    background-color: #7c5dfa;
    padding: 1.8em 0;
    border-radius: 0 0 1em 0;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(255, 255, 255, 0.158);
      border-radius: 1em 0 1em 0;
    }
  }

  svg {
    display: block;
    font-size: 2.7em;
    margin: auto;
    color: #fff;
  }

  footer {
    padding: 1.1em 0;
    border-top: 1px solid gray;
  }
}
