.sidebar {
  position: sticky;
  top: 0;
  z-index: 20;
  height: 100vh;
  flex: 1;
  background-color: #373b53;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  .logo {
    background-color: #7c5dfa;
    padding: 1.8em 0;
    border-radius: 0 0 2em 0;
  }

  svg {
    display: block;
    font-size: 3em;
    margin: auto;
    color: #fff;
  }

  footer {
    padding: 1.1em 0;
    border-top: 1px solid gray;
  }
}
