.display {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
}

.jc {
  &-space-between {
    justify-content: space-between;
  }
  &-space-evenly {
    justify-content: space-evenly;
  }
  &-center {
    justify-content: center;
  }
  &-flex-start {
    justify-content: flex-start;
  }
  &-flex-end {
    justify-content: flex-end;
  }
}

.ai {
  &-center {
    align-items: center;
  }
  &-flex-start {
    align-items: flex-start;
  }
  &-flex-end {
    align-items: flex-end;
  }
}

.fd {
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}

.fw {
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}
