* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  font-weight: 300;
  font-family: "Spartan", sans-serif;
  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}
ul,
li {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

small {
  display: block;
}
button {
  color: #fff;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 50px;
  font-weight: 500;
  transition: 0.2s;
  @media screen and (max-width: 768px) {
    padding: 0.6em 1.2em;
  }
}

img {
  max-width: 100%;
  display: block;
}
